<ion-content>

    <app-titulo titulo="Películas Nuevas"></app-titulo>

    <app-slideshow-movies [peliculas]="peliculasRecientes"
                            [slideOpts]="slideOptsBackdrop"
                            imagePath="backdrop_path"></app-slideshow-movies>

    <app-titulo titulo="Cartelera"></app-titulo>

    <app-slideshow-movies [peliculas]="peliculasRecientes"
                            customClass="poster"
                            imagePath="poster_path"
                            [slideOpts]="slideOptsPoster">
    </app-slideshow-movies>

    <app-titulo titulo="Populares"></app-titulo>

    <app-slideshow-movies [peliculas]="populares"
                          customClass="poster"
                          (cargarMas)="cargarMas()"
                          [pares] = 'true'
                          imagePath="poster_path"
                          [slideOpts]="slideOptsPoster">
    </app-slideshow-movies>
</ion-content>
